<!doctype html>
<html lang="en">
  <head>
    <title>{{mask}}{{Games}} | {{mask}}{{Invisible}}</title>
    <!--HEAD-CONTENT-->
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>
  <body>
    <!-- IMPORTANT-IVINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div id="header" class="fullwidth"><!--HEADER--></div>
    <div id="background" class="fullwidth"></div>
    <main id="mainbody" class="box-hero">
      <section class="hero-grid-container">
        <div class="box-noflex">
          <h1 class="bigtitle">{{mask}}{{Games}}</h1>
          <p>{{mask}}{{The games archive is not included in this deployment.}}</p>
          <p>{{mask}}{{For self-hosting, place the HU Archive files in views/archive.}}</p>
          <a class="button" href="https://github.com/QuiteAFancyEmerald/HU-Archive" target="_blank" rel="noopener noreferrer">{{mask}}{{Get the games archive}}</a>
        </div>
      </section>
    </main>
    <div id="footer" class="fullwidth"><!--FOOTER--></div>
    <!-- IMPORTANT-IVINSERT-DONOTDELETE -->
  </body>
</html>